.inactive{
  display: none;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.header{
  /*background-color: blue;*/
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  line-height: -5px;
}

a{
  color: rgb(171, 43, 43);
  text-decoration: none;

}

a:hover{
  color: purple;
}
