<div id="form-container">

  <h1><%= survey.survey_name %> Questions and Answers</h1>

  <% if @error %>
    <p><%= @error %></p>
  <% end %>

  <form id="question" action="/surveys/<%=survey.id%>/questions" method="post">
    <label>Survey Question:
      <input type="text" name="question" placeholder="Add Survey Question" value="">
    </label>
    <br/>

    <label>Survey Question Answer:
      <input type="text" name="answer1" placeholder="Add Survey Answer" value="">
    </label>
    <br/>

    <label>Survey Question Answer:
      <input type="text" name="answer2" placeholder="Add Survey Answer" value="">
    </label>
    <br/>

    <label>Survey Question Answer:
      <input type="text" name="answer3" placeholder="Add Survey Answer" value="">
    </label>
    <br/>

    <input type="submit" value="Add New Question">
  </form>

  <form id="done" action="/surveys/<%=survey.id%>/questions" method="post">
    <input type="submit" value="Done">
  </form>
</div>
