<label>Survey Question:
  <input type="text" name="question" placeholder="Add Survey Question" value="">
  <input type="submit" value="Add Question">
</label>
<br/>

<label>Survey Question Answer:
  <input type="text" name="answer" placeholder="Add Survey Answer" value="">
  <input type="submit" value="Add Question Answer">
</label>
<br/>
