<form action='/photos/:id' method='post'>
	<!-- set the custom method for delete -->
	<input type="hidden" name="_method" value="delete">

	<!-- create 'delete photo 'button -->
	<input type="submit" name="Delete Photo">
</form>