<form action='/photos' method='post'>
	<!-- set form fields (will be saved as values in a hash) -->
	<input type="text" name="photo_name" placeholder="Add Photo Name" value="">

	<!-- create 'create photo' button -->
	<input type="submit" value="Create Photo">
</form>