<h1>Create New Gorilla Survey!</h1>

<% if @error %>
  <p><%= @error %></p>
<% end %>

<form action='/surveys' method='post'>
  <label>Survey Title:
  	<input type="text" name="survey_name" placeholder="Add Survey Title" value="">
  </label>
  <br/>

	<input type="submit" value="Create Survey">
</form>

